In [1]:
import pandas as pd
import numpy as np

In [42]:
institute = pd.read_csv('/Users/Jenny/Desktop/seoulbigcam/Preprocessed Data/서울시 학원 데이터 전처리.csv')
institute = institute[['학원명', '도로명주소']]
institute = institute.drop_duplicates()
institute = institute.reset_index(drop=True)
institute

               학원명                  도로명주소
0           예림서예학원      서울특별시 강남구 선릉로 328
1          신세계음악학원      서울특별시 강남구 삼성로 212
2      압구정뮤직아카데미학원   서울특별시 강남구 언주로172길 12
3          심포니음악학원      서울특별시 강남구 학동로 513
4         아름드리음악학원  서울특별시 강남구 강남대로120길 42
...            ...                    ...
25635  오명조피아노음악교습소    서울특별시 중랑구 공릉로18길 59
25636      초록미술교습소    서울특별시 중랑구 면목로57길 17
25637         우리학원    서울특별시 중랑구 봉우재로6길 23
25638     김주령미술교습소     서울특별시 중랑구 봉화산로 146
25639       예인보습학원     서울특별시 중랑구 용마공원로 26

[25640 rows x 2 columns]

In [5]:
addrs = institute['도로명주소']

In [44]:
import requests
import json

locations = []
for addr in addrs:
    url = 'https://dapi.kakao.com/v2/local/search/address.json?query={}'.format(addr)
    headers = {
    ## 카카오 API의 REST API키를 아래 예시와 같이 입력해주세요
    ## "Authorization": "KakaoAK REST API키 입력 gogo"}
    "Authorization": "KakaoAK 8cd64c4299a983cac6fd3edef103f134"}
    place = requests.get(url, headers = headers).json()['documents']
    locations.append(place)

In [45]:
city = [] ## 구
town = [] ## 행정동
for i in range(len(locations)):
    
    try:
        city.append(locations[i][0].get('address').get('region_2depth_name'))
        town.append(locations[i][0].get('address').get('region_3depth_h_name'))
        
    except IndexError:
        print(i,'번째 주소 못가져옴', end ='')
        print()
        city.append('없음')
        town.append('없음')
    
    except AttributeError:
        city.append(locations[i][0].get('road_address').get('region_2depth_name'))
        town.append(locations[i][0].get('road_address').get('region_3depth_h_name'))

9 번째 주소 못가져옴
142 번째 주소 못가져옴
239 번째 주소 못가져옴
292 번째 주소 못가져옴
334 번째 주소 못가져옴
344 번째 주소 못가져옴
345 번째 주소 못가져옴
347 번째 주소 못가져옴
348 번째 주소 못가져옴
349 번째 주소 못가져옴
351 번째 주소 못가져옴
354 번째 주소 못가져옴
357 번째 주소 못가져옴
358 번째 주소 못가져옴
363 번째 주소 못가져옴
364 번째 주소 못가져옴
365 번째 주소 못가져옴
366 번째 주소 못가져옴
367 번째 주소 못가져옴
369 번째 주소 못가져옴
370 번째 주소 못가져옴
372 번째 주소 못가져옴
373 번째 주소 못가져옴
374 번째 주소 못가져옴
375 번째 주소 못가져옴
376 번째 주소 못가져옴
383 번째 주소 못가져옴
385 번째 주소 못가져옴
399 번째 주소 못가져옴
407 번째 주소 못가져옴
415 번째 주소 못가져옴
418 번째 주소 못가져옴
423 번째 주소 못가져옴
426 번째 주소 못가져옴
430 번째 주소 못가져옴
436 번째 주소 못가져옴
485 번째 주소 못가져옴
530 번째 주소 못가져옴
611 번째 주소 못가져옴
622 번째 주소 못가져옴
689 번째 주소 못가져옴
750 번째 주소 못가져옴
774 번째 주소 못가져옴
787 번째 주소 못가져옴
828 번째 주소 못가져옴
955 번째 주소 못가져옴
956 번째 주소 못가져옴
974 번째 주소 못가져옴
1075 번째 주소 못가져옴
1228 번째 주소 못가져옴
1248 번째 주소 못가져옴
1371 번째 주소 못가져옴
1612 번째 주소 못가져옴
1748 번째 주소 못가져옴
1883 번째 주소 못가져옴
2034 번째 주소 못가져옴
2295 번째 주소 못가져옴
3116 번째 주소 못가져옴
3447 번째 주소 못가져옴
3571 번째 주소 못가져옴
3828 번째 주소 못가져옴
4854 번째 주소 못가져옴
4858 번째 주소 못가져옴
4863 번째 주소 못가져옴
4866 번째 주소 못가져옴
9852 번째 주소 못가져옴
13003 번째 주소 못가져옴
13214 번째 주소 못가져옴
13325 번째 주소 못가져옴
14269 번째 주소 못가져옴
14375 번째 주소 못가져옴
14502 번째 주소 못가져옴
14823 번째 주소 못가져옴
14826 번째 주소 못가져옴
14830 번째 주소 못가져옴
14908 번째 주소 못가져옴
14910 번째 주소 못가져옴
14929 번째 주소 못가져옴
14986 번째 주소 못가져옴
14988 번째 주소 못가져옴
14989 번째 주소 못가져옴
14990 번째 주소 못가져옴
15004 번째 주소 못가져옴
15014 번째 주소 못가져옴
15024 번째 주소 못가져옴
15037 번째 주소 못가져옴
15049 번째 주소 못가져옴
15068 번째 주소 못가져옴
15134 번째 주소 못가져옴
15146 번째 주소 못가져옴
15155 번째 주소 못가져옴
15166 번째 주소 못가져옴
15170 번째 주소 못가져옴
15178 번째 주소 못가져옴
15197 번째 주소 못가져옴
15199 번째 주소 못가져옴
15219 번째 주소 못가져옴
15225 번째 주소 못가져옴
15288 번째 주소 못가져옴
15372 번째 주소 못가져옴
15439 번째 주소 못가져옴
15505 번째 주소 못가져옴
15572 번째 주소 못가져옴
15649 번째 주소 못가져옴
15672 번째 주소 못가져옴
15807 번째 주소 못가져옴
15886 번째 주소 못가져옴
15981 번째 주소 못가져옴
16043 번째 주소 못가져옴
16131 번째 주소 못가져옴
16644 번째 주소 못가져옴
16660 번째 주소 못가져옴
16669 번째 주소 못가져옴
16986 번째 주소 못가져옴
18340 번째 주소 못가져옴
18510 번째 주소 못가져옴
18545 번째 주소 못가져옴
22580 번째 주소 못가져옴
23087 번째 주소 못가져옴
23148 번째 주소 못가져옴
23268 번째 주소 못가져옴
23745 번째 주소 못가져옴
23792 번째 주소 못가져옴
23816 번째 주소 못가져옴
23858 번째 주소 못가져옴
23897 번째 주소 못가져옴
23899 번째 주소 못가져옴
23900 번째 주소 못가져옴
23903 번째 주소 못가져옴
23919 번째 주소 못가져옴
24005 번째 주소 못가져옴
24064 번째 주소 못가져옴
24113 번째 주소 못가져옴

In [52]:
city_town = np.array([city,town]).T
df_temp = pd.DataFrame(city_town, columns = ['region_2depth_name','region_3depth_h_name'])
df_temp.head()

  region_2depth_name region_3depth_h_name
0                강남구                 대치4동
1                강남구                 대치2동
2                강남구                 압구정동
3                강남구                  청담동
4                강남구                 논현1동

In [53]:
institute['구'] = df_temp['region_2depth_name']
institute['동'] = df_temp['region_3depth_h_name']
institute.head()

           학원명                  도로명주소    구     동
0       예림서예학원      서울특별시 강남구 선릉로 328  강남구  대치4동
1      신세계음악학원      서울특별시 강남구 삼성로 212  강남구  대치2동
2  압구정뮤직아카데미학원   서울특별시 강남구 언주로172길 12  강남구  압구정동
3      심포니음악학원      서울특별시 강남구 학동로 513  강남구   청담동
4     아름드리음악학원  서울특별시 강남구 강남대로120길 42  강남구  논현1동

In [54]:
# 데이터 타입 변환

institute['구'] = institute['구'].astype(str)
institute['동'] = institute['동'].astype(str)

In [49]:
in_na = institute[institute['동'] == '없음']
in_na = in_na.reset_index(drop=True)
in_na

                   학원명                            도로명주소   구   동
0                김이채학원            서울특별시 강남구 남부순환로395길 9  없음  없음
1                모티브학원                서울특별시 강남구 삼성로 343  없음  없음
2              패러곤보습학원             서울특별시 강남구 남부순환로 3032  없음  없음
3              올리브미술학원                서울특별시 강남구 선릉로 338  없음  없음
4       왕의아이들(KCLA)어학원             서울특별시 강남구 봉은사로48길 30  없음  없음
..                 ...                              ...  ..  ..
128        미드림피부네일미용학원  서울특별시 은평구 가좌로 280(신사동)2층 일부(좌측)  없음  없음
129             연서영수학원      서울특별시 은평구 연서로3길 40(역촌동)2층전부  없음  없음
130  팩토수학교실증산교육센터수학교습소              서울특별시 은평구 증산서길 64-9  없음  없음
131       토즈스터디센터응암독서실                 서울특별시 은평구 은평로 97  없음  없음
132         올리브그린미술교습소              서울특별시 은평구 통일로69길 24  없음  없음

[133 rows x 4 columns]

In [50]:
in_na = in_na.dropna()
in_na

                   학원명                            도로명주소   구   동
0                김이채학원            서울특별시 강남구 남부순환로395길 9  없음  없음
1                모티브학원                서울특별시 강남구 삼성로 343  없음  없음
2              패러곤보습학원             서울특별시 강남구 남부순환로 3032  없음  없음
3              올리브미술학원                서울특별시 강남구 선릉로 338  없음  없음
4       왕의아이들(KCLA)어학원             서울특별시 강남구 봉은사로48길 30  없음  없음
..                 ...                              ...  ..  ..
128        미드림피부네일미용학원  서울특별시 은평구 가좌로 280(신사동)2층 일부(좌측)  없음  없음
129             연서영수학원      서울특별시 은평구 연서로3길 40(역촌동)2층전부  없음  없음
130  팩토수학교실증산교육센터수학교습소              서울특별시 은평구 증산서길 64-9  없음  없음
131       토즈스터디센터응암독서실                 서울특별시 은평구 은평로 97  없음  없음
132         올리브그린미술교습소              서울특별시 은평구 통일로69길 24  없음  없음

[123 rows x 4 columns]

In [15]:
addrs2 = in_na['도로명주소']
addrs2

0                서울특별시 강남구 남부순환로395길 9
1                    서울특별시 강남구 삼성로 343
2                 서울특별시 강남구 남부순환로 3032
3                    서울특별시 강남구 선릉로 338
4                 서울특별시 강남구 봉은사로48길 30
                    ...
128    서울특별시 은평구 가좌로 280(신사동)2층 일부(좌측)
129        서울특별시 은평구 연서로3길 40(역촌동)2층전부
130                서울특별시 은평구 증산서길 64-9
131                   서울특별시 은평구 은평로 97
132                서울특별시 은평구 통일로69길 24
Name: 도로명주소, Length: 133, dtype: object

In [24]:
in_na.to_csv('오류값.csv', index=False)

In [16]:
from geopy.geocoders import Nominatim

list = []

def geocoding(address):
    geolocoder = Nominatim(user_agent = 'South Korea', timeout=None)
    geo = geolocoder.geocode(address)
    crd = {"lat": str(geo.latitude), "lng": str(geo.longitude)}

    return crd

In [17]:
for i in range(133):
    try:
        crd = geocoding(addrs2[i])
        if crd is not None:
            list.append(crd)
        else:
            list.append({"lat": 0, "lng": 0})            # 결측치 0기재
            print('{} 번째 좌표를 불러오지 못함'.format(i))
    
        if i % 10 == 0:
            print('{} 번째 좌표 정보 불러오는 중...'.format(i))

    except Exception as e:
        list.append({"lat": 0, "lng": 0})                # 결측치 0기재
        print('{} 번째 데이터 오류 발생'.format(i))

0 번째 좌표 정보 불러오는 중...
10 번째 데이터 오류 발생
11 번째 데이터 오류 발생
12 번째 데이터 오류 발생
14 번째 데이터 오류 발생
15 번째 데이터 오류 발생
16 번째 데이터 오류 발생
17 번째 데이터 오류 발생
18 번째 데이터 오류 발생
19 번째 데이터 오류 발생
20 번째 데이터 오류 발생
21 번째 데이터 오류 발생
22 번째 데이터 오류 발생
23 번째 데이터 오류 발생
25 번째 데이터 오류 발생
26 번째 데이터 오류 발생
30 번째 데이터 오류 발생
31 번째 데이터 오류 발생
32 번째 데이터 오류 발생
35 번째 데이터 오류 발생
40 번째 좌표 정보 불러오는 중...
50 번째 좌표 정보 불러오는 중...
60 번째 좌표 정보 불러오는 중...
65 번째 데이터 오류 발생
70 번째 데이터 오류 발생
80 번째 데이터 오류 발생
90 번째 좌표 정보 불러오는 중...
100 번째 좌표 정보 불러오는 중...
103 번째 데이터 오류 발생
110 번째 좌표 정보 불러오는 중...
120 번째 데이터 오류 발생
121 번째 데이터 오류 발생
125 번째 데이터 오류 발생
126 번째 데이터 오류 발생
127 번째 데이터 오류 발생
128 번째 데이터 오류 발생
129 번째 데이터 오류 발생
130 번째 좌표 정보 불러오는 중...

In [18]:
add = pd.DataFrame(list)
in_na['x'] = add['lng']
in_na['y'] = add['lat']
in_na

,학원명,도로명주소,구,동,x,y
0,김이채학원,서울특별시 강남구 남부순환로395길 9,없음,없음,127.0600294,37.4947288
1,모티브학원,서울특별시 강남구 삼성로 343,없음,없음,127.0516414,37.5163321
2,패러곤보습학원,서울특별시 강남구 남부순환로 3032,없음,없음,127.0744299,37.4969596
3,올리브미술학원,서울특별시 강남구 선릉로 338,없음,없음,127.0519343,37.4983322
4,왕의아이들(KCLA)어학원,서울특별시 강남구 봉은사로48길 30,없음,없음,127.041856,37.5081454
...,...,...,...,...,...,...
128,미드림피부네일미용학원,서울특별시 은평구 가좌로 280(신사동)2층 일부(좌측),없음,없음,0,0
129,연서영수학원,서울특별시 은평구 연서로3길 40(역촌동)2층전부,없음,없음,0,0
130,팩토수학교실증산교육센터수학교습소,서울특별시 은평구 증산서길 64-9,없음,없음,126.90595515680455,37.58217195
131,토즈스터디센터응암독서실,서울특별시 은평구 은평로 97,없음,없음,126.9132933,37.5985517
132,올리브그린미술교습소,서울특별시 은평구 통일로69길 24,없음,없음,126.9269323,37.6111617

In [55]:
error = pd.read_csv('/Users/Jenny/Desktop/seoulbigcam/Preprocessed Data/오류값.csv')
error.columns

Index(['학원명', '도로명주소', '구', '동', 'x', 'y'], dtype='object')

In [56]:
error = error.rename(columns= {'학원명': '학원명',
                               '도로명주소': '도로명주소',
                               '구': '구',
                               '동': '동',
                               'x': 'x',
                               'y': 'y'})

In [57]:
import pandas as pd
import requests

locations = []

def get_location(row):
    url = 'https://dapi.kakao.com/v2/local/geo/coord2regioncode.json?x={}&y={}'.format(row['x'], row['y'])
    headers = {
        "Authorization": "KakaoAK 8cd64c4299a983cac6fd3edef103f134"
    }
    response = requests.get(url, headers=headers)
    
    try:
        response_json = response.json()
        place = response_json['documents'][1]
        gu = place.get('region_2depth_name')
        dong = place.get('region_3depth_name')
        locations.append({'gu': gu, 'dong': dong})
    except (IndexError, AttributeError, KeyError):
        print('API 호출 오류:', response.text)

# 데이터프레임의 각 행에 대해 get_location 함수 호출
for i, row in error.iterrows():
    get_location(row)
    
    # 20개씩 처리될 때 메시지 출력
    if i % 20 == 0:
        print('{} 번째 경위도 좌표계에 대한 정보 불러오는 중...'.format(i))

# 결과를 데이터프레임에 추가
error['구'] = [location.get('gu') for location in locations]
error['동'] = [location.get('dong') for location in locations]

0 번째 경위도 좌표계에 대한 정보 불러오는 중...
20 번째 경위도 좌표계에 대한 정보 불러오는 중...
40 번째 경위도 좌표계에 대한 정보 불러오는 중...
60 번째 경위도 좌표계에 대한 정보 불러오는 중...
80 번째 경위도 좌표계에 대한 정보 불러오는 중...

In [51]:
error.columns

Index(['학원명', '도로명주소', '구', '동', 'x', 'y'], dtype='object')

In [26]:
institute.info

<bound method DataFrame.info of                학원명                  도로명주소    구     동
0           예림서예학원      서울특별시 강남구 선릉로 328  강남구  대치4동
1          신세계음악학원      서울특별시 강남구 삼성로 212  강남구  대치2동
2      압구정뮤직아카데미학원   서울특별시 강남구 언주로172길 12  강남구  압구정동
3          심포니음악학원      서울특별시 강남구 학동로 513  강남구   청담동
4         아름드리음악학원  서울특별시 강남구 강남대로120길 42  강남구  논현1동
...            ...                    ...  ...   ...
25635  오명조피아노음악교습소    서울특별시 중랑구 공릉로18길 59  중랑구   묵1동
25636      초록미술교습소    서울특별시 중랑구 면목로57길 17  중랑구  면목본동
25637         우리학원    서울특별시 중랑구 봉우재로6길 23  중랑구  면목2동
25638     김주령미술교습소     서울특별시 중랑구 봉화산로 146  중랑구  상봉1동
25639       예인보습학원     서울특별시 중랑구 용마공원로 26  중랑구  망우3동

[25640 rows x 4 columns]>

In [74]:
institute

               학원명                  도로명주소    구     동
0           예림서예학원      서울특별시 강남구 선릉로 328  강남구  대치4동
1          신세계음악학원      서울특별시 강남구 삼성로 212  강남구  대치2동
2      압구정뮤직아카데미학원   서울특별시 강남구 언주로172길 12  강남구  압구정동
3          심포니음악학원      서울특별시 강남구 학동로 513  강남구   청담동
4         아름드리음악학원  서울특별시 강남구 강남대로120길 42  강남구  논현1동
...            ...                    ...  ...   ...
25635  오명조피아노음악교습소    서울특별시 중랑구 공릉로18길 59  중랑구   묵1동
25636      초록미술교습소    서울특별시 중랑구 면목로57길 17  중랑구  면목본동
25637         우리학원    서울특별시 중랑구 봉우재로6길 23  중랑구  면목2동
25638     김주령미술교습소     서울특별시 중랑구 봉화산로 146  중랑구  상봉1동
25639       예인보습학원     서울특별시 중랑구 용마공원로 26  중랑구  망우3동

[25640 rows x 4 columns]

In [83]:
error.info()
error2 = error[['학원명', '도로명주소', '구', '동']]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   학원명     100 non-null    object
 1   도로명주소   100 non-null    object
 2   구       100 non-null    object
 3   동       100 non-null    object
 4   x       100 non-null    float64
 5   y       100 non-null    float64
dtypes: float64(2), object(4)
memory usage: 4.8+ KB

In [84]:
inst2 = institute[institute['동'] != '없음']
inst2 = institute[institute['구'] != '없음']
inst2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25507 entries, 0 to 25639
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   학원명     25507 non-null  object
 1   도로명주소   25507 non-null  object
 2   구       25507 non-null  object
 3   동       25507 non-null  object
dtypes: object(4)
memory usage: 996.4+ KB

In [87]:
inst_new = pd.concat([inst2, error2], axis=0)
inst_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25607 entries, 0 to 99
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   학원명     25607 non-null  object
 1   도로명주소   25607 non-null  object
 2   구       25607 non-null  object
 3   동       25607 non-null  object
dtypes: object(4)
memory usage: 1000.3+ KB

In [90]:
inst_new = inst_new.reset_index(drop=True)
inst_new

                     학원명                  도로명주소    구     동
0                 예림서예학원      서울특별시 강남구 선릉로 328  강남구  대치4동
1                신세계음악학원      서울특별시 강남구 삼성로 212  강남구  대치2동
2            압구정뮤직아카데미학원   서울특별시 강남구 언주로172길 12  강남구  압구정동
3                심포니음악학원      서울특별시 강남구 학동로 513  강남구   청담동
4               아름드리음악학원  서울특별시 강남구 강남대로120길 42  강남구  논현1동
...                  ...                    ...  ...   ...
25602        미드림피부네일미용학원      서울특별시 은평구 가좌로 280  은평구  신사1동
25603             연서영수학원     서울특별시 은평구 연서로3길 40  은평구   역촌동
25604  팩토수학교실증산교육센터수학교습소    서울특별시 은평구 증산서길 64-9  은평구   증산동
25605       토즈스터디센터응암독서실       서울특별시 은평구 은평로 97  은평구  응암1동
25606         올리브그린미술교습소    서울특별시 은평구 통일로69길 24  은평구   대조동

[25607 rows x 4 columns]

In [102]:
inst = inst_new[inst_new['동'] != 'None']

In [103]:
in3 = inst.groupby(['구', '동'], as_index=False)['학원명'].count()
in3

       구     동  학원명
0    강남구  개포1동   15
1    강남구  개포2동  112
2    강남구  개포3동   35
3    강남구  개포4동   61
4    강남구  논현1동  101
..   ...   ...  ...
421  중랑구  상봉2동   11
422  중랑구  신내1동   95
423  중랑구  신내2동   74
424  중랑구  중화1동   39
425  중랑구  중화2동    8

[426 rows x 3 columns]

In [106]:
in3.to_csv('/Users/Jenny/Desktop/seoulbigcam/Final Data/교육_학원 수_동별_2023.csv', index=False)