In [2]:
import pandas as pd

In [3]:
cluster = pd.read_csv('cluster1.csv')

In [4]:
chi = pd.read_csv('/Users/kimjisu/Desktop/seoulbigcam/Final Data/교육_국공립어린이집 비율_동별_2022.csv')
kin = pd.read_csv('/Users/kimjisu/Desktop/seoulbigcam/Final Data/교육_국공립유치원 비율_동별_2023.csv')

In [5]:
df = pd.merge(chi, kin, on = ['구', '동'], how = 'outer')

In [6]:
df.columns

Index(['구', '동', '전체', '국공립', '국공립 어린이집 비율', '합계', '공립 수', '국공립 유치원 비율'], dtype='object')

In [7]:
df.rename(columns = {'전체': 'all_kin', '국공립': 'pub_kin', '국공립 어린이집 비율': 'ratio_kin',
'합계': 'all_chi', '공립 수': 'pub_chi', '국공립 유치원 비율': 'ratio_chi'}, inplace = True)
df = df.fillna(0)
df

       구     동  all_kin  pub_kin   ratio_kin  all_chi  pub_chi   ratio_chi
0    종로구   사직동       11        1    9.090909      1.0      0.0    0.000000
1    종로구   삼청동        3        1   33.333333      0.0      0.0    0.000000
2    종로구   부암동        3        2   66.666667      2.0      0.0    0.000000
3    종로구   평창동        3        1   33.333333      0.0      0.0    0.000000
4    종로구   무악동        3        3  100.000000      1.0      0.0    0.000000
..   ...   ...      ...      ...         ...      ...      ...         ...
422  강동구  암사1동       17        4   23.529412      1.0      1.0  100.000000
423  강동구  천호2동       10        5   50.000000      2.0      0.0    0.000000
424  강동구    길동       17        6   35.294118      3.0      2.0   66.666667
425  강동구  상일1동       13        8   61.538462      5.0      2.0   40.000000
426  강동구  상일2동       15        7   46.666667      1.0      0.0    0.000000

[427 rows x 8 columns]

In [8]:
df.to_csv('유치원보육시설.csv')

In [40]:
gu = []
dong = []

data = cluster['행정구역'].tolist()

for item in data:
    parts = item.split('_')
    gu.append(parts[0])
    dong.append(parts[1])

In [41]:
df_cluster = {'구': gu, '동': dong}
df_cluster = pd.DataFrame(df_cluster)

In [42]:
df_cluster

      구      동
0   마포구    염리동
1   중랑구   면목5동
2   관악구   보라매동
3   성북구   장위2동
4   금천구   독산2동
..  ...    ...
72  관악구    중앙동
73  금천구    가산동
74  구로구   가리봉동
75  동작구  노량진2동
76  광진구    화양동

[77 rows x 2 columns]

In [43]:
cl1 = pd.merge(df_cluster, df, on = ['구', '동'], how = 'left')
cl1

      구      동  all_kin  pub_kin   ratio_kin  all_chi  pub_chi  ratio_chi
0   마포구    염리동        8        6   75.000000      2.0      1.0       50.0
1   중랑구   면목5동        5        3   60.000000      0.0      0.0        0.0
2   관악구   보라매동       12        4   33.333333      1.0      1.0      100.0
3   성북구   장위2동        7        1   14.285714      1.0      1.0      100.0
4   금천구   독산2동       10        5   50.000000      2.0      2.0      100.0
..  ...    ...      ...      ...         ...      ...      ...        ...
72  관악구    중앙동        2        2  100.000000      1.0      1.0      100.0
73  금천구    가산동       10        3   30.000000      1.0      0.0        0.0
74  구로구   가리봉동        3        2   66.666667      0.0      0.0        0.0
75  동작구  노량진2동        1        0    0.000000      1.0      0.0        0.0
76  광진구    화양동        5        2   40.000000      1.0      1.0      100.0

[77 rows x 8 columns]

In [44]:
cl1.to_csv('클러스터1유치원어린이집.csv')