## 보육시설

### 동별

In [1]:
# CSV 파일 로드
import pandas as pd

fac = pd.read_csv('../dataset/edu/서울시 행정동별 보육시설 형태(2021-2022).csv')
fac.head()

     구   동별  2021_all  2021_pub  2022_all  2022_pub
0  종로구  사직동        12         1        11         1
1  종로구  삼청동         2         1         3         1
2  종로구  부암동         3         2         3         2
3  종로구  평창동         3         1         3         1
4  종로구  무악동         3         3         3         3

In [2]:
# 동별 비율 컬럼 생성
fac['2022_pub_per'] = fac['2022_pub'] / fac['2022_all'] * 100
fac_new = fac[['구', '동별', '2022_pub_per']]
fac_new.head()

     구   동별  2022_pub_per
0  종로구  사직동      9.090909
1  종로구  삼청동     33.333333
2  종로구  부암동     66.666667
3  종로구  평창동     33.333333
4  종로구  무악동    100.000000

In [3]:
# 2022 국공립보육시설 비율 하위 10개
fac_new.sort_values(by = '2022_pub_per').head(15)

        구           동별  2022_pub_per
40    용산구        이태원1동      0.000000
110   성북구         돈암1동      0.000000
23     중구         을지로동      0.000000
19     중구           명동      0.000000
387   송파구         방이1동      0.000000
17     중구          소공동      0.000000
389   송파구          오륜동      0.000000
304   동작구        노량진2동      0.000000
405   송파구         잠실3동      6.250000
366   강남구         역삼1동      7.692308
7     종로구  종로1.2.3.4가동      8.333333
0     종로구          사직동      9.090909
402   송파구         잠실6동      9.090909
286  영등포구          여의동      9.090909
38    용산구         이촌1동      9.090909

In [4]:
fac_new.to_csv('../dataset/edu/서울시 행정동별 국공립어린이집 비율.csv')

### 구별

In [5]:
# 구별 데이터 확인
fac_gu = fac.groupby('구', as_index=False).sum()

# 비율 컬럼 드랍
fac_gu = fac_gu.drop(columns = ['2022_pub_per'])
fac_gu.head()

/var/folders/x_/s6rt1hw118zdhq387czgy5q40000gn/T/ipykernel_5278/4155213074.py:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  fac_gu = fac.groupby('구', as_index=False).sum()

     구  2021_all  2021_pub  2022_all  2022_pub
0  강남구       190        63       183        63
1  강동구       251        85       238        86
2  강북구       135        62       122        60
3  강서구       341        93       312        92
4  관악구       203        84       185        82

In [6]:
# 구별 비율 데이터 확인
fac_gu['2022_pub_per'] = fac_gu['2022_pub'] / fac_gu['2022_all'] * 100
fac_gu = fac_gu.drop(columns = ['2021_all', '2021_pub', '2022_all', '2022_pub'])

fac_gu.sort_values(by = '2022_pub_per')

       구  2022_pub_per
3    강서구     29.487179
8    노원구     30.392157
17   송파구     31.940299
20   용산구     33.962264
0    강남구     34.426230
24   중랑구     35.078534
23    중구     35.937500
1    강동구     36.134454
19  영등포구     36.607143
5    광진구     36.842105
6    구로구     37.218045
18   양천구     37.288136
9    도봉구     38.823529
16   성북구     41.428571
21   은평구     41.474654
11   동작구     41.666667
10  동대문구     41.847826
7    금천구     42.968750
4    관악구     44.324324
22   종로구     45.070423
12   마포구     45.454545
13  서대문구     47.058824
2    강북구     49.180328
14   서초구     51.764706
15   성동구     53.642384

In [7]:
fac_gu.to_csv('../dataset/edu/서울시 자치구별 국공립어린이집 비율.csv')