In [2]:
# 라이브러리 import
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from matplotlib import rc
import seaborn as sns
import json


# 경고 무시
import warnings
warnings.filterwarnings('ignore')

In [49]:
policy = pd.read_csv('policy.csv', encoding='utf-8')

In [50]:
policy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구별      25 non-null     object
 1   16_예산액  25 non-null     int64
 2   16_집행액  25 non-null     int64
 3   17_예산액  25 non-null     int64
 4   17_집행액  25 non-null     int64
 5   18_예산액  25 non-null     int64
 6   18_집행액  25 non-null     int64
 7   19_예산액  25 non-null     int64
 8   19_집행액  25 non-null     int64
 9   20_예산액  25 non-null     int64
 10  20_집행액  25 non-null     int64
dtypes: int64(10), object(1)
memory usage: 2.3+ KB

In [51]:
policy_cp = policy.copy()

In [52]:
policy.set_index('구별', drop=True, inplace=True)

In [53]:
policy

,16_예산액,16_집행액,17_예산액,17_집행액,18_예산액,18_집행액,19_예산액,19_집행액,20_예산액,20_집행액
구별,,,,,,,,,,
종로구,180000,211000,200000,159500,376500,247500,481000,414500,450000,357000
중구,150000,216500,246900,186800,400300,346600,350000,350000,497600,469600
용산구,330000,265600,280000,221100,230000,192600,230000,206600,689200,577500
성동구,249000,235400,249000,219300,262000,224500,262000,241000,262000,197000
광진구,401000,371100,400000,305600,370000,434700,519000,375100,360000,294700
동대문구,400000,351200,400000,312900,380000,285600,758600,618600,950000,717900
중랑구,840000,815500,840000,649500,840000,614000,790000,608200,608800,567100
성북구,573950,473100,547450,398400,549500,454900,477000,441000,430000,411400
강북구,396500,331200,388400,272400,313400,211500,286400,205400,225000,178200
도봉구,415000,327100,410000,297000,370000,274500,370000,281800,365000,263200
노원구,540000,438400,464000,360000,410000,298000,410000,278800,395800,285500
은평구,475100,412550,443950,340950,443950,310350,689050,530550,602700,477600
서대문구,410000,358800,380000,305200,380000,269600,345000,244400,285000,197000
마포구,500000,420400,500000,370800,860900,707800,845600,654150,760000,546100
양천구,840000,828500,895600,688900,895600,569000,812000,520200,740000,519800
강서구,247000,124000,792500,553800,769000,511500,1334000,1092100,1007500,929500
구로구,643800,572700,643800,472500,540000,410200,476000,360700,385000,345400
금천구,446000,376400,420000,333000,390000,322600,390000,267900,521500,380000
영등포구,325000,291200,314000,259300,1116300,906600,1015400,1048400,1225000,831800
동작구,285000,197300,504000,330500,474000,310000,1216000,803800,900000,853200
관악구,360000,309000,330000,248900,320000,207600,245000,269200,337000,278200
서초구,1130000,926000,1050000,698300,816000,689500,680000,592500,1211500,812200
강남구,1260000,1033000,1178500,879000,1175000,861900,932100,957500,2042200,1521500
송파구,800000,755700,800000,672900,750000,616900,750000,620600,750000,486300
강동구,512500,333100,740000,459600,631000,421000,566400,383300,773200,512800

In [54]:
import pandas as pd

def min_max_scaling(dataframe, feature_range=(0, 1)):
    """
    Perform Min-Max scaling on each column of a DataFrame.

    Parameters:
    - dataframe: The input DataFrame.
    - feature_range: A tuple specifying the desired scaling range (default is 0 to 1).

    Returns:
    - scaled_dataframe: A new DataFrame with scaled values.
    """
    # Copy the input DataFrame to avoid modifying the original data
    scaled_dataframe = dataframe.copy()

    # Calculate the minimum and maximum values for each column
    min_vals = dataframe.min()
    max_vals = dataframe.max()

    # Calculate the feature range
    min_val, max_val = feature_range

    # Perform scaling for each column
    for column in dataframe.columns:
        scaled_dataframe[column] = (dataframe[column] - min_vals[column]) / (max_vals[column] - min_vals[column]) * (max_val - min_val) + min_val

    return scaled_dataframe

In [55]:
policy_df = min_max_scaling(policy)

In [56]:
policy_df.to_csv('policy.csv', encoding='utf-8')

In [57]:
policy_cp['16_effect'] = policy_cp['16_집행액'] / policy_cp['16_예산액']

In [58]:
policy_cp['17_effect'] = policy_cp['17_집행액'] / policy_cp['17_예산액']

In [59]:
policy_cp['18_effect'] = policy_cp['18_집행액'] / policy_cp['18_예산액']

In [60]:
policy_cp['19_effect'] = policy_cp['19_집행액'] / policy_cp['19_예산액']

In [61]:
policy_cp['20_effect'] = policy_cp['20_집행액'] / policy_cp['20_예산액']

In [64]:
policy_cp

,구별,16_예산액,16_집행액,17_예산액,17_집행액,18_예산액,18_집행액,19_예산액,19_집행액,20_예산액,20_집행액,16_effect,17_effect,18_effect,19_effect,20_effect
0,종로구,180000,211000,200000,159500,376500,247500,481000,414500,450000,357000,1.172222,0.797500,0.657371,0.861746,0.793333
1,중구,150000,216500,246900,186800,400300,346600,350000,350000,497600,469600,1.443333,0.756582,0.865851,1.000000,0.943730
2,용산구,330000,265600,280000,221100,230000,192600,230000,206600,689200,577500,0.804848,0.789643,0.837391,0.898261,0.837928
3,성동구,249000,235400,249000,219300,262000,224500,262000,241000,262000,197000,0.945382,0.880723,0.856870,0.919847,0.751908
4,광진구,401000,371100,400000,305600,370000,434700,519000,375100,360000,294700,0.925436,0.764000,1.174865,0.722736,0.818611
5,동대문구,400000,351200,400000,312900,380000,285600,758600,618600,950000,717900,0.878000,0.782250,0.751579,0.815450,0.755684
6,중랑구,840000,815500,840000,649500,840000,614000,790000,608200,608800,567100,0.970833,0.773214,0.730952,0.769873,0.931505
7,성북구,573950,473100,547450,398400,549500,454900,477000,441000,430000,411400,0.824288,0.727738,0.827843,0.924528,0.956744
8,강북구,396500,331200,388400,272400,313400,211500,286400,205400,225000,178200,0.835309,0.701339,0.674856,0.717179,0.792000
9,도봉구,415000,327100,410000,297000,370000,274500,370000,281800,365000,263200,0.788193,0.724390,0.741892,0.761622,0.721096
10,노원구,540000,438400,464000,360000,410000,298000,410000,278800,395800,285500,0.811852,0.775862,0.726829,0.680000,0.721324
11,은평구,475100,412550,443950,340950,443950,310350,689050,530550,602700,477600,0.868344,0.767992,0.699065,0.769973,0.792434
12,서대문구,410000,358800,380000,305200,380000,269600,345000,244400,285000,197000,0.875122,0.803158,0.709474,0.708406,0.691228
13,마포구,500000,420400,500000,370800,860900,707800,845600,654150,760000,546100,0.840800,0.741600,0.822163,0.773593,0.718553
14,양천구,840000,828500,895600,688900,895600,569000,812000,520200,740000,519800,0.986310,0.769205,0.635328,0.640640,0.702432
15,강서구,247000,124000,792500,553800,769000,511500,1334000,1092100,1007500,929500,0.502024,0.698801,0.665150,0.818666,0.922581
16,구로구,643800,572700,643800,472500,540000,410200,476000,360700,385000,345400,0.889562,0.733924,0.759630,0.757773,0.897143
17,금천구,446000,376400,420000,333000,390000,322600,390000,267900,521500,380000,0.843946,0.792857,0.827179,0.686923,0.728667
18,영등포구,325000,291200,314000,259300,1116300,906600,1015400,1048400,1225000,831800,0.896000,0.825796,0.812147,1.032500,0.679020
19,동작구,285000,197300,504000,330500,474000,310000,1216000,803800,900000,853200,0.692281,0.655754,0.654008,0.661020,0.948000
20,관악구,360000,309000,330000,248900,320000,207600,245000,269200,337000,278200,0.858333,0.754242,0.648750,1.098776,0.825519
21,서초구,1130000,926000,1050000,698300,816000,689500,680000,592500,1211500,812200,0.819469,0.665048,0.844975,0.871324,0.670409
22,강남구,1260000,1033000,1178500,879000,1175000,861900,932100,957500,2042200,1521500,0.819841,0.745863,0.733532,1.027250,0.745030
23,송파구,800000,755700,800000,672900,750000,616900,750000,620600,750000,486300,0.944625,0.841125,0.822533,0.827467,0.648400
24,강동구,512500,333100,740000,459600,631000,421000,566400,383300,773200,512800,0.649951,0.621081,0.667195,0.676730,0.663218

In [63]:
policy_cp.to_csv('policy_proportion.csv', encoding='utf-8')

In [3]:
house2022 = pd.read_csv('2022서울시 부동산 실거래가 정보.csv', encoding='cp949')
house2021 = pd.read_csv('2021서울시 부동산 실거래가 정보.csv', encoding='cp949')
house2020 = pd.read_csv('2020서울시 부동산 실거래가 정보.csv', encoding='cp949')

In [4]:
house = pd.concat([house2022, house2021, house2020])

In [5]:
house.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 388805 entries, 0 to 183897
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   접수연도              388805 non-null  int64
 1   자치구코드             388805 non-null  int64
 2   자치구명              388805 non-null  object
 3   법정동코드             388805 non-null  int64
 4   법정동명              388805 non-null  object
 5   지번구분              360604 non-null  float64
 6   지번구분명             360604 non-null  object
 7   본번                360617 non-null  object
 8   부번                360617 non-null  float64
 9   건물명               360598 non-null  object
 10  계약일               388805 non-null  int64
 11  물건금액(만원)          388805 non-null  int64
 12  건물면적(㎡)           388805 non-null  float64
 13  토지면적(㎡)           313355 non-null  float64
 14  층                 360642 non-null  float64
 15  권리구분              1528 non-null    object
 16  취소일               18743 non-null   float64
 17  건축년도              386480 non-null  float64
 18  건물용도              388805 non-null  object
 19  신고구분              77958 non-null   object
 20  신고한 개업공인중개사 시군구명  57686 non-null   object
dtypes: float64(7), int64(5), object(9)
memory usage: 65.3+ MB

In [6]:
house = house[['자치구명', '법정동명', '물건금액(만원)', '건물면적(㎡)']]

In [152]:
house['mean_vlue/m**2'] = house['물건금액(만원)'] / house['건물면적(㎡)']

In [153]:
house = house.groupby('법정동명')['mean_vlue/m**2'].mean()

In [157]:
house.to_csv('house_values.csv', encoding='utf-8')

In [177]:
land = pd.read_csv('공시지가_2022년.csv', encoding='cp949')

In [178]:
land.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 903778 entries, 0 to 903777
Data columns (total 13 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   시도명        903778 non-null  object
 1   시군구명       903778 non-null  object
 2   법정동명       903778 non-null  object
 3   토지코드       903778 non-null  object
 4   공시지가(원/㎡)  903778 non-null  int64
 5   시군구코드      903778 non-null  int64
 6   법정동코드      903778 non-null  int64
 7   필지구분코드     903778 non-null  int64
 8   필지구분명      903778 non-null  object
 9   본번         903778 non-null  object
 10  부번         903778 non-null  int64
 11  기준년도       903778 non-null  int64
 12  기준년월       903778 non-null  object
dtypes: int64(6), object(7)
memory usage: 89.6+ MB

In [179]:
land = land.drop(['시도명','토지코드', '시군구코드', '법정동코드', '필지구분코드', '필지구분명', '본번', '부번', '기준년도', '기준년월'], axis=1)

In [180]:
land['공시지가(원/㎡)'] = land['공시지가(원/㎡)'].astype(np.int)

In [181]:
money = land.groupby('법정동명').mean()

In [188]:
money.to_csv('land_values.csv', encoding='utf-8')

In [183]:
money['공시지가(원/㎡)'] = money['공시지가(원/㎡)'].astype(int)

In [170]:
land

       시군구명  법정동명  공시지가(원/㎡)
0       성북구  하월곡동    4837000
1       성북구  하월곡동    5544000
2       성북구  하월곡동    3605000
3       성북구  하월곡동    3136000
4       성북구  하월곡동    3245000
...     ...   ...        ...
903773  성북구   종암동    3765000
903774  성북구   종암동    3485000
903775  성북구   종암동    6850000
903776  성북구   종암동    4125000
903777  성북구   종암동    2577000

[903778 rows x 3 columns]

In [98]:
def convert_exponential_to_float(exponential_str):
    try:
        return float(exponential_str)
    except ValueError:
        return exponential_str

# 데이터프레임의 특정 열에 함수를 적용
money['공시지가(원/㎡)'] = money['공시지가(원/㎡)'].apply(convert_exponential_to_float)

In [99]:
money

         공시지가(원/㎡)
법정동명
가락동   7.228325e+06
가리봉동  3.618488e+06
가산동   3.283834e+06
가양동   4.120376e+06
가회동   5.830061e+06
...            ...
후암동   4.970125e+06
훈정동   2.811047e+06
휘경동   3.512721e+06
흑석동   5.166670e+06
흥인동   8.657742e+06

[465 rows x 1 columns]

In [100]:
money.info()

<class 'pandas.core.frame.DataFrame'>
Index: 465 entries, 가락동 to 흥인동
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   공시지가(원/㎡)  465 non-null    float64
dtypes: float64(1)
memory usage: 23.4+ KB

In [96]:
money['공시지가(원/㎡)'].apply(lambda x : float(x))

법정동명
가락동     7.228325e+06
가리봉동    3.618488e+06
가산동     3.283834e+06
가양동     4.120376e+06
가회동     5.830061e+06
            ...
후암동     4.970125e+06
훈정동     2.811047e+06
휘경동     3.512721e+06
흑석동     5.166670e+06
흥인동     8.657742e+06
Name: 공시지가(원/㎡), Length: 465, dtype: float64

In [69]:
house.columns

Index(['시도명', '시군구명', '법정동명', '토지코드', '공시지가(원/㎡)', '시군구코드', '법정동코드', '필지구분코드',
       '필지구분명', '본번', '부번', '기준년도', '기준년월'],
      dtype='object')